html {
  font-size: 62.5%;
}

body {
    background: #aaaafa;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color: #000;
}

#baseline {
    color: #fff;
    font-size: 1em;
    margin: 0 0 1em 0;
    background: #8888fa;
    padding: 1em;
}

input {
    background: 0;
    border: 1px solid #8888fa;
    font-size: 1em;
    text-align: left;
    padding: 0.5em 0.5em;
}

button {
    margin-top: 1em;
    background: #8888fa;
    border: 0;
    font-size: 0.8em;
    padding: 0.5em;
    color: #fff;
}

#result {
    font-size: 2em;
    font-weight: bold;
}
